<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 <title>Welcome Security with Spring Boot!</title>
 </head>
 <body>
     <h1 style="color:blue"> Hola! Esta es la página del Administrador!</h1>
     <br/>
 
     <table>
    	<tr th:each="u: ${users}">
    	    <td th:text="${u.id}" />
        	<td th:text="${u.username}" />
        	<td th:text="${u.password}" />
    	</tr>
	</table>
 	
 	<br/>
 	
 	<a style="color:blue" th:href="@{/}">Ir al home</a>
     
     <br/>
     
     <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
     
 </body>
</html>