<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
 <head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
 <title>Welcome Security with Spring Boot!</title>
 </head>
 <body>
     <h1> Hola! Esta es la página del Administrador!</h1>
     <br/>
	<button type="button" class="btn btn-primary"><a style="color:white" th:href="@{/user}">Administrar Usuarios</a></button>
 	
 	<br/>
 	
 	<a th:href="@{/}">Ir al home</a>
     
     <br/>
     
     <form th:action="@{/logout}" method="post">
         <input type="submit" value="Sign Out"/>
     </form>
     
 </body>
</html>