<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta name='description' content='Sitio Web Cliente'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<title>Cliente</title>
		<script type="text/javascript" src="/resources/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="/resources/wsinvocationREST.js"></script>
	</head>
	<body bgcolor="green">
		<section>
			<div>						
				<h4>Pulse el botón para obtener una lista con todos los usuarios registrados</h4>
				<pre><p id='contenido'></p></pre>	
				<button onClick='getAll()'>Obtener todos los usuarios</button>			
			</div><br/><br/>
		</section>
	</body>
</html>