<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<meta name='description' content='Sitio Web Cliente'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<title>Cliente</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
		<script type="text/javascript" th:src="@{/js/wsinvocationREST.js}"></script>
	</head>
	<body>
		<section>
			<div >			
				<h4>Pulse el botón para obtener una lista con todos los usuarios registrados</h4>
				<div id="userTable" style="display: none"><pre><p id='content'></p></pre></div>
				<button onClick='getAll();hide();' class="btn btn-primary">Usuarios</button>			
			</div><br/><br/>
			<div>				
				<h4>Introduzca el Id y pulse el botón para obtener los datos del estudiante deseado</h4>
				<pre><p id='user'></p></pre>				
				Id: <input type='text' id='id'/><br/>
				<button onClick='getUser()' class="btn btn-primary">Usuario</button>
			</div><br/><br/>
			<div class="form-group">
				<h4>Dar de alta usuario</h4>
				<pre><p id='content2'></p></pre>
				Username: <input type='text' id='username'/><br/>
				Password: <input type='text' id='password'/><br/>
				Rol: 
				<select id='role' class="selectpicker">
				  <option value="ROLE_CANDIDATE">Candidato</option>
				  <option value="ROLE_ADMIN">Administrador</option>
				</select><br/>
				Nombre: <input type='text' id='name'/><br/>
				Apellidos: <input type='text' id='surname'/><br/>
				Email: <input type='text' id='email'/><br/>
				DNI: <input type='text' id='dni'/><br/>
				Cuenta no expirada: <input type='checkbox' id="nonExpiredAccount"/><br/>
				Cuenta no bloqueada: <input type='checkbox' id="nonLocked"/><br/>
				Credenciales no expirados: <input type='checkbox' id="nonExpiredCredentials" /><br/>
				Cuenta activada: <input type='checkbox' id="enabled" /><br/>
				<button onClick='newUser()' class="btn btn-primary">Registrar Usuario</button>	
			</div>
		</section>
	</body>
</html>